<nav class="Navbar fixed left-0 bottom-0 right-0 bg-primary rounded-t-2xl z-50 py-6 md:hidden transition duration-300 ease-in-out" [class.active]="menu">
  <div class="container">

    <div class="flex justify-between items-center">
      <div>
        <a routerLink="/keyboard">
          <app-logo></app-logo>
        </a>
      </div>

      <div>
        <button (click)="toggleMenu()" class="flex transition duration-300 ease-in-out transform" [class.rotate-180]="menu">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><circle cx="12" cy="12" r="10" stroke="#F57421" stroke-width="2"/><path d="M8 13.5l4-4l4 4" stroke="#F57421" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
        </button>
      </div>
    </div>

    <div class="mt-4">
      <ul>
        <li class="mb-1">
          <a routerLink="/404" class="block p-2">
            Inicio
          </a>
        </li>
        <li class="mb-1">
          <a routerLink="/keyboard" class="block p-2">
            Keyboard Holder
          </a>
        </li>
        <li class="mb-1">
          <a routerLink="/portfolio" class="block p-2">
            Portfolio
          </a>
        </li>
        <li>
          <a routerLink="/contact" class="block p-2">
            Contacto
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>