<nav class="Navbar hidden md:block fixed top-0 left-0 right-0 bg-primary rounded-2xl m-6 z-40 py-9" ngxHideOnScroll [propertyUsedToHide]="'top'" [valueWhenHidden]="'-155px'" [valueWhenShown]="'0px'">
  <div class="flex container mx-auto justify-between items-center">
    <div>
      <a routerLink="/keyboard">
        <app-logo></app-logo>
      </a>
    </div>

    <ul class="flex">
      <li class="px-4" class="text-white ml-6">
        <a routerLink="/404" routerLinkActive="text-orange font-bold" class="hover:text-orange transition duration-300 ease-in-out" title="Inicio">
          Inicio
        </a>
      </li>
      <li class="px-4" class="text-white ml-6">
        <a routerLink="/keyboard" routerLinkActive="text-orange font-bold" class="hover:text-orange transition duration-300 ease-in-out" title="Keyboard Holder">
          Keyboard Holder
        </a>
      </li>
      <li class="px-4" class="text-white ml-6">
        <a routerLink="/portfolio" routerLinkActive="text-orange font-bold" class="hover:text-orange transition duration-300 ease-in-out" title="Portfolio">
          Portfolio
        </a>
      </li>
      <li class="px-4" class="text-white ml-6">
        <a routerLink="/contacto" routerLinkActive="text-orange font-bold" class="hover:text-orange transition duration-300 ease-in-out" title="Contacto">
          Contacto
        </a>
      </li>
    </ul>
  </div>
</nav>