
<section class="404">
  <div class="container mx-auto max-w-2xl text-center">

    <h1 class="text-primary text-2xl font-bold mb-2">
      Te mentí, todavía no hay más páginas 🤥
    </h1>
    
    <p class="text-primary">
      De manija quise lanzar la web para arrancar, pero todavía estoy trabajando en las otras secciones. Vuelvas prontos 😎
    </p>

    <img src="/assets/404.png" class="mx-auto">

    <button routerLink="/" class="py-6 px-12 text-primary text-lg bg-transparent hover:bg-primary hover:text-white border-primary border-2 rounded-xl hidden md:inline-flex transition duration-300 ease-in-out">
      <svg class="inline mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M8 5l-5 5l5 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 10h8c5.523 0 10 4.477 10 10v1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
      Volver pa trá
    </button>

  </div>
</section>